.btn-add {
  padding: 0;
}

.link-btn-add {
  display: block;
  padding: 8px 12px;
  color: #fff;
  text-decoration: none;
}

.link-btn-edit {
  display: block;
  color: #fff;
  text-decoration: none;
}

.link-btn-add:hover,
.link-btn-edit:hover {
  color: #fff;
  text-decoration: none;
}

.form-group {
  padding-top: 10px;
}

.form-check {
  margin-bottom: 10px;
}

.required-mark {
  padding: 5px;
  color: #007bff;
}